.title {
  width: 400px;
  height: 700px;
  background-color: #9675ce;
}

@media screen and (max-width: 600px) {
  #title {
    display: none !important;
  }
  /* #abc {
    display: flex !important;
    flex-direction: column !important;
    flex: 1;
  } */
}

@media screen and (max-width: 943px) {
  #abc {
    display: flex !important;
    flex-direction: column !important;
    flex: 1;
  }
}
